body {
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat", "Avenir";
    font-weight: normal;
}

.square {
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background 0.5s;
}

#container{
    max-width: 600px;
    margin: 15px auto;
}

h1{
    color: white;
    text-align: center;
    background-color: steelblue;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 20px 0;
}

#stripe {
    background-color: whitesmoke;
    height: 30px;
    text-align: center;
}

.selected {
    color:white;
    background-color: steelblue;
}

#showRGB {
    font-size: 200%;
}

button{
    border: none;
    background: none;
    font-family: "Montserrat";
    height: 100%;
    font-weight:700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
    outline: none;
}

button:hover {
    color: white;
    background-color: steelblue;
}

#message{
    display: inline-block;
    width: 20%;
}